<footer class="footer">
    <ul class="footer-list">
        <li class="footer-item">
            &copy; 2018 Glascode
        </li>
        <li class="footer-item">
            <a href="#">About</a>
        </li>
        <li class="footer-item">
            <a href="#">Contact</a>
        </li>
    </ul>

    <a class="footer-icon" href="https://github.com/Glascode">
        <i class="fab fa-github"></i>
    </a>

    <ul class="footer-list">
        <li class="footer-item">
            <a href="https://github.com/dafi/tocmd-generator">Toc generator</a>
        </li>
    </ul>
</footer>
