<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description"
          content="Une petite introduction au vaste monde du développement web.">

    <!-- Open Graph Protocol -->
    <meta property="og:image"
          content="{{ '/images/icons/favicon.png' | prepend: site.baseurl }}">
    <meta property="og:title" content="Introduction au développement web">
    <meta property="og:type" content="website">
    <meta property="og:description"
          content="Une petite introduction au vaste monde du développement web.">
    <meta property="og:url"
          content="https://glascode.github.io/introduction-web/">

    <title>
        {{ site.title }}
    </title>

    <link rel="icon" type="image/png"
          href="{{ '/images/icons/favicon.png' | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Fira+Mono"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="{{ '/css/main.css' | prepend: site.baseurl }}">
    <link rel="stylesheet"
          href="{{ '/css/syntax.css' | prepend: site.baseurl }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.markdown-body').toc({
                renderIn: '.toc',
                contentsText: "Table des matières",
                minItemsToShowToc: 0
            });
        });
    </script>
</head>
