<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>
        {% if page.title and page.id != "home" %}
        {{ " | Glascode" | prepend: page.title }}
        {% else %}
        {{ site.title }}
        {% endif %}
    </title>

    <link rel="shortcut icon" href="/images/icons/favicon-310.png">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Playfair+Display:400,700|Fira+Mono"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="{{ '/styles/main.css' | prepend: site.baseurl }}">
    <link rel="stylesheet"
          href="{{ '/styles/components.css' | prepend: site.baseurl }}">
    <link rel="stylesheet"
          href="{{ '/styles/syntax.css' | prepend: site.baseurl }}">
    {% if page.style %}
    {% capture stylelink %}/styles/{{ page.style }}.css{% endcapture %}
    <link rel="stylesheet"
          href="{{ stylelink | prepend: site.baseurl }}">
    {% endif %}
</head>
